In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns

In [16]:
trends= pd.read_csv('shopping_trends.csv', index_col= 0)

In [17]:
trends.head()

,Age,Age Group,Gender,Item Purchased,Category,Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,,,
1,55,Senior,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
2,19,Adult,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
3,50,Senior,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
4,21,Adult,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,45,Midle,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [21]:
trends.shape

(3900, 19)

In [22]:
trends.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3900 entries, 1 to 3900
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       3900 non-null   int64
 1   Age Group                 3900 non-null   object
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5    Amount (USD)             3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(3), object(15)
memory usage: 609.4+ KB

In [23]:
# checking is there any null values are present or not
pd.isnull(trends).sum()

Age                         0
Age Group                   0
Gender                      0
Item Purchased              0
Category                    0
 Amount (USD)               0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [24]:
trends.columns

Index(['Age', 'Age Group', 'Gender', 'Item Purchased', 'Category',
       ' Amount (USD)', 'Location', 'Size', 'Color', 'Season', 'Review Rating',
       'Subscription Status', 'Payment Method', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Preferred Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [25]:
trends.describe()

               Age   Amount (USD)  Review Rating  Previous Purchases
count  3900.000000    3900.000000    3900.000000         3900.000000
mean     44.068462      59.764359       3.749949           25.351538
std      15.207589      23.685392       0.716223           14.447125
min      18.000000      20.000000       2.500000            1.000000
25%      31.000000      39.000000       3.100000           13.000000
50%      44.000000      60.000000       3.700000           25.000000
75%      57.000000      81.000000       4.400000           38.000000
max      70.000000     100.000000       5.000000           50.000000

Exploratory Data Analysis

In [31]:
# using describe for particular columns only
trends[[' Amount (USD)','Review Rating']].describe()

        Amount (USD)  Review Rating
count    3900.000000    3900.000000
mean       59.764359       3.749949
std        23.685392       0.716223
min        20.000000       2.500000
25%        39.000000       3.100000
50%        60.000000       3.700000
75%        81.000000       4.400000
max       100.000000       5.000000

# Exploratory Data Analysis